h1 {
	font-weight: normal;
	margin-bottom: 20px;
}

#page {
    padding-top: 60px;
}

.errorMessage {
	color: #d33;
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

.profile-photo {
	margin-bottom: 30px;
	margin-left: 30px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: solid 1px #eee;
}

.author {
    font-weight: bold;
}

.time {
    font-size: 10px;
}

.row textarea {
    width: 100%;
}